html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100vw;
}
body {
  background-color: #0A2647;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Common Classes */
.head-color {
  color: #77D7FC;
  font-size: 40px;
}

.sub-color {
  color: #FFA773;
}

.paragraph-color {
  color: rgb(234, 234, 234);
  font-size: 18px;
}



/* Landing-Page */
#landing-page {
  margin: 60px auto;
  overflow: hidden;
  padding-bottom: 20px;
}

.land-img {
  width: 90%;
  height: 80%;
  margin: 0 -5px auto;
  overflow: hidden;
  padding-bottom: 20px;
}

.land-img img {
  width: 700px;
  object-fit: cover;
  margin-left: -85px;
}

.color-btn {
  margin-left: 35px;
}

.color-btn button {
  background-color: transparent;
  border: none;
  color: #77D7FC;
  font-size: 15px;
  margin-left: 40px;
  z-index: 10;

}

.land-img2 {
  display: none;
}

.land-title {
  color: #77D7FC;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 50px;
}

.land-subtitle {
  color: #FFA773;
  margin-left: 30px;
  font-size: 20px;
  margin-top: -20px;
}

.land-desc {
  display: flex;
  width: 300px;
  height: 100px;
  align-items: center;
  text-align: start;
  color: rgb(229, 229, 229);
  margin: 0 150px 10px auto;
  margin-left: 35px;
  font-size: 16px;
}

.more-btn {
  margin: 0 30px auto;
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid #77D7FC;
  color: #77D7FC;
  padding: 10px 20px;
  border-radius: 80px;
  font-size: 15px;
}


/* Why Resonate-page 2 */
#why-resonate {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-top: 20px;
 
}


.why-resonate-img {
  width: 340%;
  height: 300px;
  border-radius: 30px;
  overflow: hidden;
 
}

.why-resonate-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.why-resonate-text {
  margin-top: -30px;
  margin-left: 10px;
  margin-right: 10px;
  align-content: center;
  
}

.why-title {
  font-size: 40px;
  margin-bottom: -40px;
}

.why-resonate-text button {
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #77D7FC;
  color: #77D7FC;
  padding: 10px 30px;
  border-radius: 80px;
  font-size: 15px;
}

.why-resonate-text h1 {
  font-size: 30px;
  padding-bottom: 10px;
}

.why-resonate-text p {
  font-size: 14px;
  margin-top: -25px;
}



/* Scroll Animation-page 3 */
#scroll-animation {
  width: 100%;
  height: 100vh;
}

#scroll-animation h2 {
  opacity: 0.3;
  margin-left: 20px;
  margin-top: 80px;
  margin-bottom: 40px;
}

/* Gallery */
.lookbook{
  color: #FFA773;
  font-size: 30px;
  padding-left: 10px;
  margin-top: 0px;
  border-top: 2px solid #FFA773;

}

.gallery-container {
  position: relative;
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
  
}


#gallery-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  transform: translateY(-50%);
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

button:hover{
  cursor: pointer;
  border-radius: 40px;
  background-color: white;
  color: #0A2647;
  filter: drop-shadow(0 0 10px #5cbce8);
  transition: background-color 0.3s ease, color 0.3s ease;
 
}


//VIDEO

.video-con {
  position: relative;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 80px;
  border: 2px solid #77D7FC;
  filter: drop-shadow(0 0 15px #5cbce8);

}


.video-con video {
  width: 100%;
  height: auto;
  display: block;
}

//video player
/*matches with the element of the DOM*/
:root {
  --plyr-color-main: rgb(58, 127, 205);
  --plyr-control-icon-size: 12px;
  --plyr-control-radius: 10px;
  --plyr-font-family: Helvetica, Arial:
}


//Details-page
#details-section {
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  margin-top: 280px;
  border-top: 2px solid #FFA773;
}

.details-title {
  font-size: 24px;
  color: #2b93e6;
  margin-bottom: 10px;
}

.details-subtitle {
  font-size: 14px;
  color: #cccccc;
  margin-bottom: 20px;
}

.box-content, .features-content {
  background-color: #2b93e6;
  border: 2px solid #ff6500;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  opacity: 0;
}

.box-header, .features-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 10px;
}

.box-info, .features-info {
  text-align: left;
  width: 100%;
}

.box-info h2, .features-info h2 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.box-info ul, .features-list {
  list-style-type: none;
  color: #000000;
  padding: 0;
}

.box-info ul li, .features-list ul li {
  font-size: 14px;
  margin: 5px 0;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-list ul {
  width: 45%;
}

.details-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #1b6098;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}



//Contact
#contact-section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-top: 2px solid #FFA773;
  margin-top: 30px;
}

.contact-title {
  font-size: 36px;
  color: #f7a76c;
  margin-bottom: 20px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #365267;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  scale: 0.05;
  opacity: 0;
}

.form-section form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-section input, .form-section textarea {
  background-color: #122436;
  border: none;
  color: #8abfd0;
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  font-size: 16px;
}

.form-section textarea {
  height: 80px;
  resize: none;
}

.form-section button {
  background-color: #122436;
  color: #8abfd0;
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-section button:hover {
  background-color: #0f1d28;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logo-placeholder {
  width: 80px;
  height: 80px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #f7a76c;
}

.footer-logo-img {
  width: 70%;
  display: flex;
  align-items: center;
}


.social-icons {
  display: flex;
  gap: 10px;

}

.icon {
  
  font-size: 24px;
  text-decoration: none;
}


//model viewer

#model{
  display: none;
}















//------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

/* Tablet and PC Layout */
@media (min-width: 768px) {

  /* General */
  body {
    font-size: 16px;
    overflow-x: hidden;
    max-width: 100vw;
  }

  /* Landing Page */
  #landing-page {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    overflow: hidden;
    gap: 100px;
    padding: 0 20px;
   
  }

  .land-img {
    width:80%;
    height: auto;
  }

  .land-img img {
    width: 100%;
    object-fit: cover;
    margin-left: 0;
  }

  .color-btn {
    margin-top: 10px ;
    margin-left: -40px;
    display: flex;
    justify-content: center;
  }

  .color-btn button {
    margin-top: 10px;
    font-size: 18px;
    padding: 5px 5px;
  }

  .land-text {
    width: 50%;
    text-align: left;
    margin-left: -5%;
    margin-top: -20px;
  }

  .land-title {
    font-size: 50px;
    margin-left: 0;
    margin-top: 20px;
  }

  .land-subtitle {
    font-size: 24px;
    margin-top: -40px;
    margin-left: 0;
  }

  .land-desc {
    font-size: 18px;
    margin: 0 10px 0 0;
    width: 100%;
    max-width: 500px;
  }

  .more-btn {
    margin-top: 40px;
    font-size: 16px;
    margin-left: 0;
  }

  /* Why Resonate */
  #why-resonate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
  }

  .why-resonate-img {
    width: 50%;
    height: auto;
    border-radius: 50px;
  }

  .why-resonate-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .why-resonate-text {
    width: 45%;
    margin-top: 0;
    text-align: left;
  }

  .why-title {
    font-size: 50px;
  }

  .why-resonate-text p {
    font-size: 18px;
    margin-top: 10px;
  }

  .why-resonate-text button {
    margin-top: 20px;
    padding: 12px 40px;
    font-size: 16px;
  }

  /* Scroll Animation */
  #scroll-animation {
    position: relative;
    margin: 0 0 25% 0;
  }

  #scroll-animation h2 {
    opacity: 0.5;
    margin-top: 100px;
    font-size: 28px;
  }

  /* Gallery */
  .lookbook {
    font-size: 40px;
    padding-left: 20px;
    margin-top: 40px;
    
  }

  .gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: 30px auto;
  }

  .prev-btn, .next-btn {
    font-size: 30px;
    padding: 15px;
  }

  #gallery-image {
    width: 80%;
    height: auto;
  }

  /* Video */
  .video-con {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    border: 3px solid #77D7FC;
    border-radius: 10px;
    filter: drop-shadow(0 0 15px #5cbce8);
    margin-top: 100px;
  }

  .video-con video {
    width: 100%;
    height: auto;
    border-radius: 10px;
   
  }

  /* Details Section */
  .details-section {
    padding: 40px;
    text-align: center;
    max-width: 1200px;
    margin: 40px auto;
  }

  .details-title {
    font-size: 36px;
    color: #2b93e6;
  }

  .details-subtitle {
    font-size: 18px;
    color: #cccccc;
    margin-top: 10px;
  }

  .box-content, .features-content {
    background-color: #2b93e6;
    border: 3px solid #ff6500;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    opacity: 0;
  }

  .box-header, .features-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .image-placeholder {
    width: 60%;
    margin: auto;
   
  }

  .box-info {
    text-align: left;
    width: 100%;
  }

  .features-info{
    text-align: left;
    width: 100%;
    position: absolute;
    
  }
;
  .box-info ul, .features-list {
    list-style-type: none;
    color: #000;
    padding: 0;
  }

  .box-info ul li, .features-list ul li {
    font-size: 16px;
    margin: 8px 0;
  }

  .features-list {
    display: flex;
    justify-content: space-between;
    gap: 10% ;
    
  }

  .details-button {
    font-size: 16px;
    padding: 12px 30px;
    background-color: #1b6098;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
  }

  /* Contact Section */
  .contact-section {
    max-width: 1200px;
    margin: 30px auto;
    padding: 40px;
    text-align: center;
  }

  .contact-title {
    font-size: 40px;
    color: #f7a76c;
  }

  .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #365267;
    padding: 30px;
    border-radius: 15px;
  }

  .form-section form {
    width: 60%;
  }

  .form-section input, .form-section textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 15px;
    border-radius: 20px;
    font-size: 16px;
  }

  .form-section textarea {
    height: 100px;
  }

  .form-section button {
    width: 600px;
    padding: 15px;
    border-radius: 20px;
    background-color: #122436;
    color: #8abfd0;
    font-size: 16px;
   
  }

  .logo-section {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .logo-placeholder img {
    width: 100% auto;
    height: auto;
    margin-top: -510px;
    
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 2px solid #f7a76c;
  }

  .footer-logo-img {
    width: 70%;
    display: flex;
    align-items: center;
  }

  .social-icons {
    display: flex;
    gap: 15px;
  }

  .icon {
    font-size: 28px;
    text-decoration: none;
    color: #8abfd0;
  }

  .icon:hover {
    color: #f7a76c;
  }

  /* Gallery Image */
  #gallery-image {
    max-width: 80%;
    height: auto;
  }





//model viewer

#model{
  display: block;
}
  model-viewer {
    width: 70%;
    height: 70vh;
    margin: 0 auto;
    border: 2px solid #ff6500;
    background-color: #2b93e6;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .hotspot {
    background-color: rgb(220, 220, 23);
    cursor: pointer;
    border: 2px solid rgb(33, 29, 95);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    transition: 0.3s;
  }
  
  .hotspot:hover {
    width: 26px;
    height: 26px;
    background-color: rgb(255, 255, 255);
  }
  
  .hotspot:not([data-visible]) {
    opacity: 0;
    pointer-events: none;
  }
  
  .HotspotAnnotation {
    visibility: hidden;
    background-color: rgb(28, 35, 79);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    width: 200px; 
    height: auto;
    transform: translate(5px, -150px);
     }
  
  .HotspotAnnotation h2 {
    margin: 0;
    padding-top: 20px;
    font-size: 21px;
    text-align: center;
  }
  
  .HotspotAnnotation p {
    padding-top: 6px;
    font-size: 14px;
    padding: 0 10px;
  }
  
  .HotspotAnnotation img {
    width: 100px;
    height: 100px;
    margin-top: 8px;
    border-radius: 5px; 
    box-shadow: 0 0 15px white;
  }
  
  // Customize progress bar
  model-viewer::part(default-progress-bar) {
    height: 30px;
    background-color: rgb(212, 123, 21);
  }
  
}



@media (min-width: 1200px){

.land-text{
 
  margin-left: -35px;
 
}

 /* Why Resonate */
 #why-resonate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}

.why-resonate-img {
  width: 35%;
  height: auto;
  border-radius: 50px;
  margin-left: 5%;
}

.why-resonate-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.why-resonate-text {
 margin-right: 12%;
}

.why-resonate-text h1 {
  width: 55%;
  margin-top: 10px;
  text-align: left;
  font-size: 55px !important;
}

.box-content, .features-content {

  opacity: 0;
}



}




















































































